.main-button {
	border-radius: 40px;
	padding: 10px 20px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: -0.45px;
	line-height: 22.5px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	transition: all 0.2s ease-in-out;
	border: none;
	border: 2px solid rgb(255 255 255 / 20%);
}

/* === VARIANTS === */
.main-button.primary {
	background: linear-gradient(-135deg,rgb(93, 46, 204) 25%,rgb(137, 26, 188) 100%);
	color: #fff;
}

.main-button.secondary {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.13);
	color: #fff;
}
.main-button.secondary:hover {
	border-color: var(--color-primary);
}

.main-button.white {
	background: #fff;
	color: #17181C;
}

.main-button.black {
	background: linear-gradient(-135deg,rgb(93, 46, 204) 25%,rgb(137, 26, 188) 100%);
	color: #fff;
}

.main-button:hover {
	background: linear-gradient(-135deg,rgb(0, 22, 46) 25%,rgb(26, 29, 188) 100%);
}

@media (max-width: 768px) {
    .main-button {
      font-size: 12.5px;
      gap: 7.5px;
    }
  }